{% extends "base.html" %}

{% block title %} block article{% endblock %}

{% block content %}
    <div class="text-center"><h2>{{ article.title }}</h2></div>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <p class="text-center"><span>{{ article.author.username }}</span><span style="margin-left:20px">{{ publish }}</span></p>
            <div>{{ article.body }}</div>
        </div>
        <div class="col-xs-6 col-md-4">
            <h2>唐诗</h2>
            <p><a href="https://www.gushiwen.org/gushi/tangshi.aspx" target="_blank">https://www.gushiwen.org/gushi/tangshi.aspx</a></p>
            <img width="250px" src="/static/image/meihua.jpg"/>
        </div>
    </div>

{% endblock %}
