{% extends 'base.html' %}

{% block title %}blog titles{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>我的博客</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">  <!--xs:超小屏幕 手机 (<768px)  md:中等屏幕 桌面显示器 (≥992px)-->
        <ul>
            {% for blog in blogs %}
            <li>
                <a href="{{ blog.id }}">{{ blog.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-xs-6 col-md-4">
        <h2>唐诗</h2>
        <p><a href="https://www.gushiwen.org/gushi/tangshi.aspx" target="_blank">https://www.gushiwen.org/gushi/tangshi.aspx</a></p>
        <img width="250px" src="/static/image/meihua.jpg"/>
    </div>
</div>
{% endblock %}