{% extends 'base.html' %}
{% block title %}密码重置{% endblock %}

{% block content %}
    <div class="row text-center">
        <p>如果您忘记密码，请重置</p>
        <p>请输入您的邮箱来设置新的密码</p>
        <form class="form-horizontal" method="post" action="."> {% csrf_token %}
            <div class="form-group">
                <label class="col-md-5 control-label">{{ form.email.label_tag }}</label>
                <div class="col-md-6 text-left">{{ form.email }}</div>
            </div>
            <input type="submit" value="发送邮箱" class="btn btn-primary btn-lg"/>
        </form>
    </div>
{% endblock %}





